#links > .row {
  padding: 10px;
  height: 100px;
  border-style: solid;
  border-width: 2px;
  border-color: red;
  display: flex;
}
 
#links > .row > .col {
    display: inline-flex;
    /* padding-left: 6.5px;
    padding-right: 6.5px; */
    height: 100px;
    width: 100px;
}

#links > .row> .spaceCol {
  width: 25px;
  height: 100px;
  background-color: chartreuse;
}